<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.12.2.js'></script>
    <meta charset="UTF-8">
    <title>InstaSite</title>

</head>

<body>

<nav id="menuVertical">
    <ul>
        <div sec:authorize="isAuthenticated()">
            <li>
                <center><a th:href="@{/settings}"  class="active" id="userlog">Добро пожаловать, <span sec:authentication="name"></span></a></center>
            </li>
        </div>

        <div sec:authorize-url="/admin">
            <form method="get" th:action="@{/admin}" class="formmenu">
                <li><input class="activebtnadmin" type="submit" value="Администрирование"/></li>
            </form>
        </div>

        <form class="formmenu" method="get" th:action="@{/}">
            <li><input class="activebtn" type="submit" value="Главная"/></li>
        </form>

        <div sec:authorize-url="/client">
            <form method="get" th:action="@{/client}" class="formmenu">
                <li><input class="activebtn" type="submit" value="Клиенты"/></li>
            </form>
        </div>

        <div sec:authorize-url="/employee">
            <form method="get" th:action="@{/employee}" class="formmenu">
                <li><input class="activebtn" type="submit" value="Сотрудники"/></li>
            </form>
        </div>

        <div sec:authorize-url="/price">
            <form method="get" th:action="@{/price}" class="formmenu">
                <li><input class="activebtn" type="submit" value="Цены"/></li>
            </form>
        </div>

        <div sec:authorize-url="/station">
            <form method="get" th:action="@{/station}" class="formmenu">
                <li><input class="activebtn" type="submit" value="Станции"/></li>
            </form>
        </div>

        <div sec:authorize-url="/franchise">
            <form method="get" th:action="@{/franchise}" class="formmenu">
                <li><input class="activebtn" type="submit" value="Франдшиза"/></li>
            </form>
        </div>


    </ul>
</nav>
<div class="menu">
    <div class="footer">
        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <input class="activebtnfooterlog" method="post" th:action="@{/logout}" type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</div>


<div id="content">
    <center><h3>Добавление топлива</h3></center>
    <form action="#" class="transparent" method="post" th:action="@{/add/fuel}">
        <div class="form-inner">
            <a th:text="${error}"></a>
            <center>
                <p>
                    <select th:field="${station.name}">
                        <option th:each="stat : ${stations}"
                                th:text="${stat.name}"
                                th:value="${stat.name}">
                            Станции
                        </option>
                    </select>
                <p><input th:field="${fuel.id}" th:text="${fuel.id}" type="hidden"></p>
                <p><input placeholder="Название" required th:field="${fuel.fuelName}" type="text"></p>
                <p><textarea cols="40" name="description" rows="3" th:field="${fuel.description}"></textarea></p>
                <p><input placeholder="Цена" required th:field="${fuel.price}" type="text"></p>
                    <div class="form-inner">
                        <input class="input" type="submit" value="Сохранить"/>
                    </div>
            </center>
    </div>
    </form>
</div>
</body>
</html>