article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html, body {min-height:100%;height:100%;margin:0;}
body {
	background: url(/images/bk.svg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;

	color:white;
}

#noise {
	position: absolute;
	width: 100%;
	background-image: url("/images/noise.png");
	background-attachment: fixed;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {#noise {background-image: url("/images/noise@2x.png");}}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}

body {
    font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
    background: #fee;
    width: 100%;
}

#content {
    margin-top: 60px;
}

.active {
    background-color: #4CAF50;
}

.activebtn {
    background-color: #4CAF50;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    border: 0;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h3 {
	margin-top: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 26px;
	text-transform: uppercase;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}