:root {
	background-color: #2980b9;
	background: -webkit-linear-gradient(235deg, #71b073 29.9%, #2776aa 80%), -webkit-linear-gradient(146deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%), -webkit-linear-gradient(80deg, #b1c9d8 19.9%, #2776aa 50%), -webkit-linear-gradient(305deg, #f4df26 15.9%, #ff1b9a 40%);
	background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%), linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%), linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%), linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
	background-repeat: no-repeat;
	background-blend-mode: hard-light;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
}
body {
	background: none;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 2em;
}
h1 {
	color: rgba(255, 255, 255, 0.2);
	font-size: 15vw;
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
	text-align: center;
	text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.08);
	filter: drop-shadow(0.045em 0.045em 0.04em rgba(0, 0, 0, 0.21));
}

* {
	box-sizing: border-box;
}

.transparent {
	position: relative;
	max-width: 400px;
	padding: 60px 50px;
	margin: 50px auto 0;

	background-size: cover;
}

.transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.form-inner {
	position: relative;
}

.form-inner h3 {
	position: relative;
	margin-top: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 26px;
	text-transform: uppercase;
}

.form-inner label {
	display: block;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .6);
	text-transform: uppercase;
	font-size: 14px;
}

.form-inner input {
	display: block;
	width: 100%;
	padding: 0 15px;
	margin: 10px 0 15px;
	border-width: 0;
	line-height: 40px;
	border-radius: 20px;
	color: white;
	background: rgba(255, 255, 255, .2);
	font-family: 'Roboto', sans-serif;
}

.form-inner input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

#custom-checkbox+label {
	position: relative;
	margin: 20px 0;
	text-transform: none;
	cursor: pointer;
}

#custom-checkbox+label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: text-top;
	background: white;
}

#custom-checkbox:checked+label:before {
	background: #1762EE;
}

#custom-checkbox:checked+label:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 2px;
	left: 20px;
	top: 9px;
	background: white;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	transform: rotate(45deg);
}

.input[type="submit"] {
	background: #1762EE;
}

.reginput[type="submit"] {
	background: #f69a73;
}