<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <script src='http://code.jquery.com/jquery-1.12.2.js' type='text/javascript'></script>
    <meta charset="UTF-8">
    <title>InstaSite</title>

    <script>
function reservationListFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    if (!tr[i].classList.contains('header')) {
      td = tr[i].getElementsByTagName("td"),
      match = false;
      for (j = 0; j < td.length; j++) {
        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          match = true;
          break;
        }
      }
      if (!match) {
        tr[i].style.display = "none";
      } else {
        tr[i].style.display = "";
      }
    }
  }
}
    </script>
</head>
<body>
<nav id="menuVertical">
    <ul>
        <div sec:authorize="isAuthenticated()">
            <li>
                <center><a class="active" id="userlog" th:href="@{/settings}">Добро пожаловать, <span
                        sec:authentication="name"></span></a></center>
            </li>
        </div>

        <div sec:authorize-url="/admin">
            <form class="formmenu" method="get" name="pole" th:action="@{/admin}">
                <li><input class="activebtnadmin" type="submit" value="Администрирование"/></li>
            </form>
        </div>

        <form class="formmenu" method="get" th:action="@{/}">
            <li><input class="activebtn" type="submit" value="Главная"/></li>
        </form>

        <div sec:authorize-url="/client">
            <form class="formmenu" method="get" name="pole" th:action="@{/client}">
                <li><input class="activebtn" type="submit" value="Клиенты"/></li>
            </form>
        </div>

        <div sec:authorize-url="/employee">
            <form class="formmenu" method="get" name="pole" th:action="@{/employee}">
                <li><input class="activebtn" type="submit" value="Сотрудники"/></li>
            </form>
        </div>

        <div sec:authorize-url="/price">
            <form class="formmenu" method="get" name="pole" th:action="@{/price}">
                <li><input class="activebtn" type="submit" value="Цены"/></li>
            </form>
        </div>
        <div sec:authorize-url="/station">
            <form class="formmenu" method="get" th:action="@{/station}">
                <li><input class="activebtn" type="submit" value="Станции"/></li>
            </form>
        </div>
        <div sec:authorize-url="/franchise">
            <form class="formmenu" method="get" name="pole" th:action="@{/franchise}">
                <li><input class="activebtn" type="submit" value="Франшиза"/></li>
            </form>
        </div>

        <div sec:authorize-url="/add/**">
            <form class="formmenu" method="get" th:action="@{/add/client}" th:if="${clients}">
                <li><input class="btnadd" type="submit" value="Добавить пользователя"/></li>
            </form>
            <form class="formmenu" method="get" th:action="@{/add/fuel}" th:if="${fuels}">
                <li><input class="btnadd" type="submit" value="Добавить топливо"/></li>
            </form>
            <form class="formmenu" method="get" th:action="@{/add/card}" th:if="${cards}">
                <li><input class="btnadd" type="submit" value="Добавить карту"/></li>
            </form>
            <form class="formmenu" method="get" th:action="@{/add/employee}" th:if="${employees}">
                <li><input class="btnadd" type="submit" value="Добавить работника"/></li>
            </form>
            <form class="formmenu" method="get" th:action="@{/add/station}" th:if="${stations}">
                <li><input class="btnadd" type="submit" value="Добавить станцию"/></li>
            </form>
            <form class="formmenu" method="get" th:action="@{/admin/add}" th:if="${add}">
                <li><input class="btnadd" type="submit" value="Добавить станцию"/></li>
            </form>
        </div>

    </ul>
</nav>
<div class="menu">
    <div class="footer">
        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <input class="activebtnfooterlog" method="post" th:action="@{/logout}" type="submit" value="Выйти"/>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <form method="get" th:action="@{/login}">
                <input class="activebtnfooterauth" type="submit" value="Авторизоваться"/>
            </form>
        </div>
    </div>
</div>

<div id="content">
    <a th:text="${error}"></a>
    <center>
        <div th:if="${rows}">
            <center><h3>Информация </h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Франшиза</th>
                <th> Название заправки</th>
                <th>Адрес</th>
                <th>Тип топлива</th>
                <th>Цена</th>
                </thead>
                <tbody>
                <tr th:each="row : ${rows}">
                    <td th:text="${row.franchise}"></td>
                    <td th:text="${row.stationName}"></td>
                    <td th:text="${row.stationAddress}"></td>
                    <td th:text="${row.fuelName}"></td>
                    <td th:text="${row.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clients}">
            <center><h3>Клиенты</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес</th>
                <th>Телефон</th>
                </thead>
                <tbody>
                <tr th:each="client,row: ${clients}">
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.surname}"></td>
                    <td th:text="${client.address}"></td>
                    <td th:text="${client.telephone}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${fuels}">
            <center><h3>Прайс-лист</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес</th>
                </thead>
                <tbody>
                <tr th:each="fuel,row: ${fuels}">
                    <td th:text="${fuel.name}"></td>
                    <td th:text="${fuel.description}"></td>
                    <td th:text="${fuel.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${employees}">
            <center><h3>Сотрудники фирмы</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес</th>
                <th>Телефон</th>
                </thead>
                <tbody>
                <tr th:each="employee,row: ${employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.surname}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.telephone}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${franchises}">
            <center><h3>Название компаний</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Номер</th>
                <th>Название</th>
                </thead>
                <tbody>
                <tr th:each="franchise,row: ${franchises}">
                    <td th:text="${franchise.id}"></td>
                    <td th:text="${franchise.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${users}">
            <center><h3>Название компаний</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Почта</th>
                <th>Страна</th>
                <th>Роль</th>
                <th>Активен</th>
                </thead>
                <tbody>
                <tr th:each="client : ${users}">
                    <td th:text="${client.username}"></td>
                    <td th:text="${client.password}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.country}"></td>
                    <td th:text="${client.role}"></td>
                    <td th:text="${client.active}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${stations}">
            <center><h3>Станции</h3></center>
            <input id="myInput" onkeyup="reservationListFunction()" placeholder="Search for names.." type="text">
            <table border="1px" id="myTable">
                <thead>
                <th>Название заправки</th>
                <th>Адрес</th>
                </thead>
                <tbody>
                <tr th:each="station : ${stations}">
                    <td th:text="${station.name}"></td>
                    <td th:text="${station.address}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </center>
</div>
</body>
</html>