<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css"/>

	<title>
		Authorization
	</title>
</head>
<body>
<form class="transparent" action="#" method="post" th:action="@{/login}" th:object="${user}">
<div class="form-inner">

	<center><h3>Авторизация</h3></center>
	<p th:text="${error}" />
	<p style="color:white">Логин: <input required type="text" th:field="*{username}"/></p>
	<p style="color:white">Пароль: <input required type="password" th:field="*{password}"/></p>
	<p><input class="input" type="submit" value="Войти"/> <input class="inputbutton" type="reset" value="Сбросить"/></p>
</div>
</form>

	<form class="transparent" action="#" th:action="@{/register}" method="get">
		<div class="form-inner">
		<input class="reginput" type="submit" value="Зарегистироваться" />
		</div>
	</form>
</body>
</html>