<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<title>
		Authorization
	</title>
</head>
<body>
<form class="transparent" action="#" method="post" th:action="@{/login}" th:object="${user}">
<div class="form-inner">
<h3>Authorization</h3>
	<p th:text="${error}" />
	<p>username: <input type="text" th:field="*{username}"/></p>
	<p>password: <input type="password" th:field="*{password}"/></p>
	<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
	<form action="#" th:action="@{/register}" method="get">
		<input type="submit" value="New user?" />
	</form>
</div>
</form>
</body>
</html>