<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    <title>Редактирование профиля</title>
</head>
<body>
<form action="#" class="transparent" method="post" th:action="@{/user_settings}" th:object="${client}">
    <div class="form-inner">
        <center><h3>Редактирование профиля</h3></center>
        <p th:text="${message}"></p>
        <p style="color:white">Логин: <input required type="text" th:field="*{username}"/></p>
        <p style="color:white">Пароль: <input required type="password" th:field="*{password}"/></p>
        <p style="color:white">Подтвердите пароль: <input required th:object="${repeat}" type="password"/></p>
        <p style="color:white">Email: <input required type="email" th:field="*{email}"/></p>
        <p style="color:white">Email: <input required type="text" th:field="*{email}"/></p>
        <p><input class="input" type="submit" value="Зарегистрировать"/> <input type="reset" value="Сбросить"/></p>
    </div>
</form>
</body>
</html>

